// シンプルな例: PostgreSQLのみ

stage "local" {
    service "postgres"
    variables {
        LOG_LEVEL "debug"
    }
}

stage "live" {
    service "postgres"
    variables {
        LOG_LEVEL "warn"
    }
}

service "postgres" {
    version "16"
    ports {
        port host=11432 container=5432
    }
    environment {
        POSTGRES_PASSWORD "postgres"
    }
}
