// SurrealDB + Qdrant の設定例

stage "local" {
    service "surrealdb"
    service "qdrant"
    variables {
        LOG_LEVEL "debug"
    }
}

service "surrealdb" {
    image "surrealdb/surrealdb"
    version "latest"
    port 18000:8000
    command "start --user root --pass root --bind [::]:8000 rocksdb://database.db"
    volume "./.flow/surrealdb:/data"
    environment {
        SURREAL_PATH "/data/database.db"
    }
}

service "qdrant" {
    image "qdrant/qdrant"
    version "latest"
    port 16333:6333
    port 16334:6334
    volume "./.flow/qdrant:/qdrant/storage"
}
